html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.editor {
  position: relative;
}

.editor::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: 48px;
  z-index: 1;
}

#html::after {
  background-image: url('assets/html5.svg');
}

#css::after {
  background-image: url('assets/css3.svg');
}

#js::after {
  background-image: url('assets/js.svg');
}

textarea {
  outline: none;
  resize: none;
  font-family: 'Cascadia Code';
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background: #222;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}
